extends base

block header
    link(rel='stylesheet' href='stylesheets/admin.css')

block content
    .dark.hidden
        .message
            p.message_text
            button.message_button.button OK
    .window
        .left-block
            include search_block
            .import-export-block
                #drop-area.import_block
                    form.my-form
                        p.import-block_text
                            | Drag file or&nbsp;
                            label.button(for='fileElem') Choose file
                            |  to import
                        input#fileElem(type='file' multiple='' accept='*.json' onchange='handleFiles(this.files)')
                .export-block
                    input.button.export-button(type='button' value='Export')
        .inf-block
            .inf-block__info.hidden
    script(type='text/javascript' src='javascript/requests/export_request.js')
    script(type='text/javascript' src='javascript/requests/import_file_request.js')
    script(type='text/javascript' src='javascript/requests/search_full_request.js')
    script(type='text/javascript' src='javascript/admin.js')

