extends base

block header
    link(rel='stylesheet' href='stylesheets/admin.css')

block content
    .interface
        .indoor-map
            svg#map-view(viewBox='0 0 1000 1000' height='100%' width='100%')
        .search-show_card
            include search_block
        .route-search-card
            button.direction.button.direction_button ↓
            .way_input_block
                .route_from.search-box
                    label.search-from_input
                .route_to.search-box
                    label.search-to_input
            button.direction.rotate_direction_button.button ⇋
        .navigaation
            each btn in ['⇧', '1', '⇩', '+', '-']
                if(btn === '1')
                    button.navigaation-buton.button.floor-level #{btn}
                else
                    button.navigaation-buton.button(id=btn) #{btn}

    script(type='text/javascript' src='javascript/requests/export_request.js')
    script(type='text/javascript' src='javascript/requests/import_file_request.js')
    script(type='text/javascript' src='javascript/requests/search_request.js')
    script(type='text/javascript' src='javascript/requests/walls_request.js')
    script(type='text/javascript' src='javascript/requests/path_find_request.js')
    script(type='text/javascript' src='javascript/map/draw_map.js')
    script(type='text/javascript' src='javascript/map/zoom_map.js')
    script(type='text/javascript' src='javascript/controls/mouse_controls.js')
    script(type='text/javascript' src='javascript/controls/button_controls.js')
    script(type='text/javascript' src='javascript/index.js')

