.search-helper
    .background_color_blue.hidden
    .background_color_grey.hidden
    .search-block
        .search-box.search-elem
            input.search-input(type='text' placeholder='Search' autocomplete='off')
            input.search-button.search-clear(type='submit' value='✖')
            input.fa.fa-search.search-button.search-submit(type='submit' value='')
        .search-list-block
            ul.search-item-list
        .block_info.hidden
            .block_name
            .button_block
                button.find_way_from_button.button.way_button Path from
                button.find_way_to_button.button.way_button Path to
                button.close-info_button.button.way_button Close
            .block_info__text
