<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table search</title>
    <link rel="stylesheet" href="stylesheets/table_search_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="dark hidden">
    <div class="message">
        <p class="message_text"></p>
        <button class="message_button button">OK</button>
    </div>
</div>
<div class="window">
    <div class="search-block">
        <div class="search-box search-elem">
            <input type="text" placeholder="Search" class="search-input" autocomplete="off">
            <input type="submit" value="&#10006;" class="search-button search-clear">
            <input type="submit" class="fa fa-search search-button search-submit" value="&#xF002;">
        </div>
        <div class="search-list-block">
            <ul class="search-item-list"></ul>
        </div>
        <div class="import-export-block">
            <div class="import_block" id="drop-area">
                <form class="my-form" >
                    <p class="import-block_text">Drag file or <label class="button" for="fileElem">Choose file</label> to import</p>
                    <input type="file" id="fileElem" multiple accept="*.json" onchange="handleFiles(this.files)">
                </form>
            </div>
            <div class="export-block">
                <input type="button" class="button export-button" value="Export">
            </div>
        </div>
    </div>
    <div class="inf-block">
        <div class="inf-block__info hidden"></div>
    </div>
</div>
<script type="text/javascript" src="javascript/table_search_scripts.js"></script>
</body>
</html>